*{
    white-space: pre-line;
}

@media screen and (min-width: 768px) {
    .grid-container{
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-gap: 30px; 
    }
}

.rotated {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          width: 12px;
          height: 20px;
          margin-right: 0.5rem;
}

.rotate-back{
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            width: 12px;
          height: 20px;
          margin-right: 0.5rem;
}